@charset "utf-8";
/*--Ϣ--*/
*{margin:0;padding:0;list-style:none;}
.clear {clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
a{color:#fc3;text-decoration:none;} 
a:hover,a:active{color:#f60;text-decoration: none;}
img{border:0;}
/*-------*/
body{ font-size:12px; font-family:Verdana, Arial, "", Helvetica, sans-serif; 

color:#999; text-align:left; line-height:18px;background:url(../images/bck.jpg) repeat-x 

#000000;}
#container{ width:834px; margin:0 auto; font-family: Verdana,Arial, Helvetica, sans-

serif;}
#top{height:140px;}
#top ul li{ line-height:30px; padding-left:22px; padding-top:53px; float:left;}
.top_bg { background:url(../images/sale5.0_top_bg.gif) no-repeat right bottom;}
#sale{height:215px;}
#sale dl{ padding:18px 0 0 25px;}
#sale dl dd{ padding-top:10px;}
.sale_bg{ background:url(../images/sale5.0_sale_bg.jpg) no-repeat left top;}
#sale_word { width:500px; float:left;}
#contact {float:left; padding:10px 0 0 30px;}
#contact dl dd{ line-height:24px; color:#fff;}
.word_big{ font-size:26px; font-weight:bold; color:#fff; line-height:30px;}

#explanation dl dd{ border-bottom:1px dashed #999; padding:15px 20px; line-height:22px; 

text-align:left;}
#link {border-bottom:1px dashed #999; padding-left:20px;}
#word-link {line-height:30px; margin-bottom:5px; }
#word-link a{color:#999; margin-right:22px; *margin-right:20px }
#word-link a:hover,a:active{color:#fff;text-decoration: none;}
#img-link{ margin-top:15px;}
#img-link img{margin-right:10px;}
#gg { margin-top:15px; height:105px; text-align:center; border-bottom:1px dashed #999;}

#introductions dl {padding:20px 23px; width:92%; text-align:left;}
#introductions dl dt {font-weight:bold;}
#introductions p{color:#693;}
#introductions a {color:#f60;text-decoration:none;} 
#introductions a:hover,a:active{color:#fc3;text-decoration: none;}
#footer {height:125px; margin: 0 auto;}
.footer_bg {background:url(../images/sale5.0_footer_bg.jpg) no-repeat left top; font-size:12px; text-align:center;}
#footer ul { padding-top:55px; line-height:30px; margin: 0 atuo; overflow:hidden;}



/*---出售页2015.10.21---*/
.chushouye{/*border: 1px solid #e5e5e5; background:#f8f8f8;*/ border: 1px solid #999; padding:14px 20px; margin-top:10px; margin-bottom:10px; font-size:14px; width:94%;}
.chushouye span{ margin-right:20px;}
.chushouye .wt{ text-align:center; margin-top:14px;}
.chushouye .wt2{ text-align:center;}
.chushouye .bnt { background-color: #ffa90f;  border: 1px solid #fe8101;  color: white;  border-radius: 2px; display: inline-block; font-size: 14px; height: 18px; line-height: 18px;  padding: 5px 20px;  text-align: center; font-weight:bold;}
.chushouye .bnt:hover {background-color: #ffffff; border: 1px solid #cacaca; color: #444; }


