@media screen and (max-width: 500px) {
    html{ font-size:5px !important;}

    #bannerTitle{
        text-align: center;
    }
    #bannerSubTitle{
        text-align: center;
    }

    #bannerJumbotron {
        top: 40% !important;
    }
}

html{ font-size:10px}