/* community */
html,body {
  overflow-x: hidden;
}

.slide-text {
  top: 10%;
}

.mt100 {
  margin-top: 100px;
}

.mb100 {
  margin-bottom: 100px;
}

.list-disc {
  list-style-type: disc;
}

.community_wrapper{
    margin: 120px 120px 0;
}

.col-wrap {
  height: 260px;
  background-color: #f6f6f6;
  border-right: 1px solid #ddd;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
}

.link-wrap {
  width: 100%;
  text-align: center;
  color: #000;
}

.link-active {
  background-color: #7973b1;
}

.link-active a {
  color: #fff;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #673ab7;
  text-decoration: none;
}

.col-left {
  width: 25%;
  margin-left: 4%;
}

.col-right {
  width: 60%;
  margin-right: 9%;
}

/* .col-title,.col-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
} */

.col-title {
  font-size: 34px;
  font-family: NotoSansHans-Medium;
}

.col-img {
  width: 35px;
  height: auto;
  margin-top: 10px;
}

.col-index {
  border: 1px solid #e3e9ef;
}

.col-index-title {
  background-color: #e6edf4;
  padding: 20px 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-index-t1 {
  font-size: 24px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-index-t2,.col-left-txt {
  color: #7973b1;
}

.col-index li {
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 1px;
}

.col-tutorial-step {
  margin-left: 30px;
  color: #999;
}

.col-content-title {
  font-family: sans-serif;
  color: #666;
}

.tutorial_content p {
  font-family: "宋体";
  font-size: 22px;
  line-height: 36px;
  color: #999;
}

.active {
  color: #7DA0D1;
}

/* common */
.intro-text{
    margin: 20px auto;
    font-size: 22px;
    color: #333;
}

.tutorial-list-item {
  width: 46%;
  line-height: 30px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.tutorial-list-item:nth-child(odd) {
  float: left;
}

.tutorial-list-item:nth-child(even) {
  float: right;
}

.tutorial-item-link {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 16px;
  font-family: NotoSansHans-Medium;
}

.tutorial-item-link:hover {
  color: #0f4768;
  text-decoration: underline;
}
  /* community-code */
.icon-github {
  width: 322px;
  margin-bottom: 55px;
}

.text-desc {
  font-size: 30px;
  color: #777;
}

.community-container{
  background-color: #f6f6f6;
  margin-top: 100px;
  margin-bottom: -8px;
}
.code-container {
  background-color: #f6f6f6;
  margin-top: 130px;
  margin-bottom: -8px;
}

.code-wrap {
  margin-top: 188px;
}

.section-info {
  height: 294px;
  border: 1px solid #fff;
  box-shadow: 1px 1px 20px 1px #7973b1;
  background-color: #fff;
  position: relative;
  margin-top: -250px;
}

.code-info {
  height: 70px;
  line-height: 70px;
  background-color: #7973b1;
  color: #fff;
}


.code-title, .code-text {
    font-size: 30px;
}

.code-title {
  margin-top: 80px;
  font-weight: bold;
  font-family: NotoSansHans-Medium;
}

.code-text {
  color: #7973b1;
  margin-top: 12px;
}

.icon-read {
  width: 40px;
}

.info-img-container {
  margin: 74px 0;
}

/* community-article*/
.col-content-title {
  font-family: sans-serif;
  color: #666;
}

.tutorial_content p {
  font-family: "宋体";
  font-size: 22px;
  line-height: 36px;
  color: #999;
}

.active {
  color: #7DA0D1;
}

.col-index li a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 40px 0 20px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #fff;
  color: #008fd5;
}

.col-index li a.on {
  background: #008fd5;
  color: #fff;
}

.tutorial_content img{
  max-width: 100%;
  height: auto;
}