.section-wrapper {
  margin: 70px auto;
}

.icon-help,.icon-read {
  width: 40px;
}

.icon-download {
  width: 55px;
}

.section-item {
  float: left;
  height: 284px;
  border: 1px solid #999;
  text-align: center;
  margin: 14px 0;
}

.help-section {
  width: 20%;
}

.download-section {
  width: 100%;
  float: left;
  border: 1px solid #999;
  text-align: center;
  margin: 14px 0;
}
.download-list > li {
  float: left;
  width: 50%;
  height: 254px;
  border-right: 1px solid #999;
  text-align: center;
}

.download-list > li:last-child{
  border-right:0;
}

.download-list > li > a {
  display: block;
  height: 154px;
  background: url("../images/icon_download_green.png")/*tpa=http://zstack.io/templets/default/images/icon_download_green.png*/ 50% 100% no-repeat;
  background-size: 54px 54px;
  margin: 40px 120px;
}

.section-header,.section-title,.download-list > li > a {
  font-size: 24px;
  font-family: NotoSansHans-Medium;
}

.section-title {
  margin-top: 45px;
}

.section-link {
  color: #000;
  text-decoration: none;
}

.section-text,.section-text a,.section-desc {
  color: #777;
  font-family: NotoSansHans-Light;
}


.section-desc {
  font-size: 18px;
  margin: 20px 0 40px;
}

.section-txt {
  color: #666;
  font-weight: bold;
}

.section-text,.section-text a {
  font-size: 18px;
}

.header-wrapper {
  background-color: #3b72b2;
  color: #fff;
  text-align: center;
  height: 200px;
  margin: 100px 0 0;
}

.header-wrapper h1 {
  padding-top: 50px;
  font-size: 56px;
}

.header-wrapper p {
  font-size: 24px;
}

.header-desc {
  margin: 30px auto;
  font-size: 18px;
  color: #666;
}

.left-section {
  background-color: #f6f6f6;
  float: left;
  width: 30%;
  text-align: center;
}

.left-section p,.right-section p {
  background-color: #f6f6f6;
  margin: 40px auto;
  font-size: 20px;
  color: #777;
}

.right-section {
  float: right;
  width: 60%;
  text-align: center;
}

.right-section .num-text {
  position: relative;
}

.right-section .num {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #3b72b2;
}

.icon-circle,.icon-circle-empty {
  display: block;
  background-color: #777;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.icon-circle-empty {
  background-color: #f6f6f6;
  border: 1px #777 solid;
}

.left-section p:nth-last-child(1) {
  margin-bottom: 130px;
}

.btn-download {
  display: block;
  height: 90px;
}

.btn-download img {
  max-width: 100%;
  height: 90px;
}