/*----------fonts  ---------*/
@font-face {
 font-family: 'Museo700-Regular';
 src: url("../fonts/Museo700-Regular.otf")/*tpa=http://zstack.io/templets/default/fonts/Museo700-Regular.otf*/;
 src: local('Museo700-Regular Regular'),
        local('Museo700-Regular'),
        url("../fonts/Museo700-Regular.otf")/*tpa=http://zstack.io/templets/default/fonts/Museo700-Regular.otf*/ format('woff'),
}  
@font-face {
 font-family: 'Museo500-Regular';
 src: url("../fonts/Museo500-Regular.otf")/*tpa=http://zstack.io/templets/default/fonts/Museo500-Regular.otf*/;
 src: local('Museo500-Regular Regular'),
        local('Museo500-Regular'),
        url("../fonts/Museo500-Regular.otf")/*tpa=http://zstack.io/templets/default/fonts/Museo500-Regular.otf*/ format('woff'),
}  
@font-face {
 font-family: 'NotoSansHans-Regular';
 src: url("../fonts/NotoSansHans-Regular.otf")/*tpa=http://zstack.io/templets/default/fonts/NotoSansHans-Regular.otf*/;
 src: local('NotoSansHans-Regular Regular'),
        local('NotoSansHans-Regular'),
        url("../fonts/NotoSansHans-Regular.otf")/*tpa=http://zstack.io/templets/default/fonts/NotoSansHans-Regular.otf*/ format('woff'),
}  
@font-face {
 font-family: 'NotoSansHans-Medium';
 src: url("../fonts/NotoSansHans-Medium.otf")/*tpa=http://zstack.io/templets/default/fonts/NotoSansHans-Medium.otf*/;
 src: local('NotoSansHans-Medium Regular'),
        local('NotoSansHans-Medium'),
        url("../fonts/NotoSansHans-Medium.otf")/*tpa=http://zstack.io/templets/default/fonts/NotoSansHans-Medium.otf*/ format('woff'),
}  
@font-face {
 font-family: 'NotoSansHans-Light';
 src: url("../fonts/NotoSansHans-Light.otf")/*tpa=http://zstack.io/templets/default/fonts/NotoSansHans-Light.otf*/;
 src: local('NotoSansHans-Light Regular'),
        local('NotoSansHans-Light'),
        url("../fonts/NotoSansHans-Light.otf")/*tpa=http://zstack.io/templets/default/fonts/NotoSansHans-Light.otf*/ format('woff'),
}
@font-face {
 font-family: 'MicrosoftYaHeiLight';
 src: url("../fonts/Microsoft-Yahei-UI-Light.ttc")/*tpa=http://zstack.io/templets/default/fonts/Microsoft-Yahei-UI-Light.ttc*/;
 src: local('Microsoft-Yahei-UI-Light Regular'),
        local('Microsoft-Yahei-UI-Light'),
        url("../fonts/Microsoft-Yahei-UI-Light.ttc")/*tpa=http://zstack.io/templets/default/fonts/Microsoft-Yahei-UI-Light.ttc*/ format('woff'),
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%!important;
}
.bg-demo{
  background: url(../images/bg-demo.png)/*tpa=http://zstack.io/templets/default/images/bg-demo.png*/ no-repeat ;
  background-size: cover;
  margin: auto;
}
.demo{
  padding: 60px 0;
}
.bg-demo h4 {
  text-align: center;
  color: #6DB33F;
  margin: 0;
  padding-bottom: 20px;
   font-family: NotoSansHans-Medium;
   font-size: 22px;
   font-weight: bold;
}
.ticker-headline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-align: center;
  color: #404040;
  height: 30px;
  line-height: 30px;
  list-style: none;
}
.ticker-headline a {
  color: #404040;
  list-style: none;
  font-family: NotoSansHans-Medium;
}

.carousel.vertical .carousel-inner {
  height: 100%;
  width: auto;
}
.carousel.vertical .carousel-inner > .item {
  width: auto;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-transition: 0.3s ease-in-out top;
  transition: 0.3s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel.vertical .carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .carousel.vertical .carousel-inner > .item.next, .carousel.vertical .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    top: 0;
  }
  .carousel.vertical .carousel-inner > .item.prev, .carousel.vertical .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    top: 0;
  }
  .carousel.vertical .carousel-inner > .item.next.left, .carousel.vertical .carousel-inner > .item.prev.right, .carousel.vertical .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    top: 0;
  }
}
.carousel.vertical .carousel-inner > .active,
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
  display: block;
}
.carousel.vertical .carousel-inner > .active {
  top: 0;
}
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel.vertical .carousel-inner > .next {
  top: 100%;
}
.carousel.vertical .carousel-inner > .prev {
  top: -100%;
}
.carousel.vertical .carousel-inner > .next.left,
.carousel.vertical .carousel-inner > .prev.right {
  top: 0;
}
.carousel.vertical .carousel-inner > .active.left {
  top: -100%;
}
.carousel.vertical .carousel-inner > .active.right {
  top: 100%;
}

.carousel.vertical .carousel-control {
  left: auto;
  width: 50px;
}
.carousel.vertical .carousel-control.up {
  top: 0;
  left: 0;
  /*bottom: 50%;*/
}
.carousel.vertical .carousel-control.up img{
  width: 20px;
}
.carousel.vertical .carousel-control.down img {
    width: 20px;
}
.carousel.vertical .carousel-control.down {
  /*top: 50%;*/
  right: 0;
  bottom: 0;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .glyphicon-chevron-up,
.carousel.vertical .carousel-control .glyphicon-chevron-down {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .glyphicon-chevron-up {
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .glyphicon-chevron-down {
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-up,
.carousel.vertical .carousel-control .icon-down {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif;
}
.carousel.vertical .carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel.vertical .carousel-control .icon-next:before {
  content: '\203a';
}
.search{
  text-align: right;
}


/*----------about  ---------*/
.bg-about{
  background: #f0f5f8;
}
.bg-about h1 {
    text-align: center;
    color: #c3d7e2;
    font-size: 70px;
    padding: 30px 0 0;
    font-weight: bold;
    margin:0px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.about{
  text-align: center;
  font-size: 14px;
  color: #0e304c;
  margin: -10px auto;
  line-height: 30px;
  font-family: NotoSansHans-Medium;
}
.center{
  text-align: center;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}

/*----------three propertie   ---------*/

.bg-three {
  background: url(../images/bg-three.png)/*tpa=http://zstack.io/templets/default/images/bg-three.png*/ no-repeat center;
  padding: 60px 0;
  background-size: cover
}
.bg-three .col-md-4,.bg-three .col-lg-4,.bg-three .col-xs-4 {
  text-align: center;
  padding: 0;
}
.bg-three .center {
  margin:30px auto 10px;
  font-weight: bold;
}
.bg-three img {
  width: 100%;
}
.bg-three h3 {
  color: #4D4D4F;
  margin:30px 0 20px;
  font-size: 22px;
  font-family: NotoSansHans-Medium;
}
.bg-three small {
  color: #787878;
  line-height: 25px;
  font-weight: 100;
  font-family: NotoSansHans-Medium;
}

 /*----------Counter-section   ---------*/
.counter-section {
    width: 100%;
    min-height: 610px;
    padding-top: 50px;
    height: auto;
    float: left;
    background: url("../../../img/bg03.jpg")/*tpa=http://zstack.io/templets/default/images/counter01.jpg*/ no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
    background-attachment: fixed !important;
}
.counter{ text-align:center;margin: 20px 0;}
.counter h3 {
    color: #fff;
    font-size: 22px;
    margin:30px 0 20px;
    font-family: NotoSansHans-Medium;
} 
.counter small {
    color: #fff;
    line-height: 25px;
    font-weight: 100;
    font-family: NotoSansHans-Light;
}

 /*----------solution   ---------*/
 .bg-five {
  background: url(../images/bg-five.png)/*tpa=http://zstack.io/templets/default/images/bg-five.png*/ no-repeat center;
  background-size: cover;
  padding: 60px 0;
      clear: both;
}
 
.solution img{ 
  width: 100%;
}
.bg-five small {
    color: #4d4d4f;
    line-height: 25px;
    font-weight: 100;
    font-family: NotoSansHans-Light;
} 
.bg-five .five {
    padding:0 0 30px 0;
}
.five h3{
  font-family: NotoSansHans-Medium;
  margin-bottom: 20px;
  font-size: 22px;
   font-weight: bold;
}
.solution h3 {
    font-size: 22px;
} 
.solution p {
    line-height: 25px;
    background-color: #4d4d4f;
    color: #fff;
    padding:10px 0;
    margin: -4% 4%;
}
.solution {
    margin:20px;
}

/*----------foot   ---------*/
.foot{ 
  background: url(../images/bgfoot.png)/*tpa=http://zstack.io/templets/default/images/bgfoot.png*/ no-repeat ;
  padding:70px 0 50px;
  background-size: cover;
}
.up img{ 
  width: 100%;
}
.down ul,.up .first{
  padding: 0px;
}
.up .first{
  line-height: 105px;
}
@media(max-width: 1024px){
  .up .first{
    line-height: 136px;
  }
}
.foot .up{
  padding-bottom: 20px;
  border-bottom: 1px solid #807979;
  margin: 10px 20px;
  text-align: left;
}
.up small{ 
  color: #9d9ea0;
}
.down p{ 
  color: #6DB33F;
  font-size: 12px;
  font-weight: bold;
}
.down li{ 
  color: #FFF;
  line-height: 40px;
  font-size: 12px;
}
.foot .down{
  padding-top: 50px;
  margin: 10px 20px;
  text-align: left;
}
.down div{
  padding: 0;
    text-align: right;
}
.down h6{
  color: #fff;
  text-align: center;
}
.down h6 img {
  width: 10px;
  margin: 3px;
}
.foot  span {
  color: #fff;
  font-size: 10px;
  float: right;
  text-align: right;
  margin-top: -6%;
  margin-right: 20px;
  letter-spacing: 1px;
    line-height: 18px;

}
.col-m-5 {
    width: 20%;
    float: left;
    padding-left: 5%;
}
.down small{
  color: #6DB33F;
  padding-left: 10px;
}
/*----------contact   ---------*/
.bg-contact .up{ 
  border-bottom: 1px solid #4d4d4f;
  padding-bottom: 30px;
  padding-top: 60px;
}
.contact{
  background: url(../images/bg-five.png)/*tpa=http://zstack.io/templets/default/images/bg-five.png*/ no-repeat center;
    background-size: cover;
}
.bg-contact { 
  background-color: #fff;
}
.bg-contact h6 img {
    width: 10px;
} 
.bg-contact .down1 img {
    width: 60%;
} 
.bg-contact .up h6  {
    line-height: 25px;
}
.bg-contact .down1  {
   padding-top: 40px;
   padding-bottom: 60px;
}

/*----------about   ---------*/
.about1{ 
  border-bottom: 1px solid #4d4d4f;
  padding-bottom: 30px;
  margin-bottom: 0;
}
.bg-five .about2{ 
  color: #7DA0D1;
  line-height: 25px;
  font-family: NotoSansHans-Medium;
  margin-top: 30px;
}
.art{
  margin: 60px 0 40px;
}
/*----------tutorial   ---------*/
.intro-text {
    margin: 20px auto;
    font-size: 13px; 
}
.intro-text,.intro-text a{
    color: #88898d;
    font-family: NotoSansHans-Medium;
}
.intro-text a{line-height: 30px;}
.teach { 
  margin:0;
}
.teach h4{ 
  color: #4D4D4F;
  font-family: NotoSansHans-Medium;
}
.teach a{ 
  font-size: 13px;
  color: #88898d;
  line-height: 30px;
  font-family: NotoSansHans-Medium;
  
}
.teach span{ 
  font-size: 13px;
  color: #7973b1;
  font-weight: bold;
  font-family: NotoSansHans-Medium;
}
.teach span a{
        color: #7973b1;
}
.teach a:hover{ 
  text-decoration: none;
  
}
.teach .col-md-6,.teach .col-lg-6,.teach .col-xs-6,.teach .col-sm-6{ 
  margin-bottom: 40px;
      height: 169px;
}

/*----------FAQ   ---------*/
.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.FAQ h3{
    margin: 20px 0;
}
.intro{
    color: #88898d;
    line-height: 25px;
    margin-bottom: 8px;
}
.e_FAQ {
    padding-right: 35px;
}
.e_FAQ span{
    background-color: RGB(59,115,179);
    color: #FFF;
    padding:3px 6px;
    border-radius: 4px;
}
.know{
    text-align: right;   
}
.FAQ .pright{
    margin-top: 160px;
}
.btitle{
    color: #fff;
    font-size: 70px;
    line-height: 130px;
    font-family: NotoSansHans-Light;
    letter-spacing: 7px;

}
.fright{
  float: right !important;
}

/*----------blog   ---------*/


.blog h2{
  color: #fff;
  text-align: right;
  margin: 0;
  
}
.blog p{
  color: #fff;
  font-size: 20px;
  text-align: left;
  margin: 35px 0;
  border: 2px solid #00a08c;
  padding: 30px 38px;
  background: #00a08c;
  opacity:0.6;
}
.searcher {
    margin: 70px auto;
}
.tbox_blog dt {
    height: 35px;
    /* border: 1px solid #DADADA; */
    overflow: hidden;
    clear: both;
    background-color: RGB(59,115,179);
}
.e_blog h3{
    color: RGB(59,115,179);
    margin: 30px 0 10px;
}
.e_blog li{
    border-bottom: 2px solid #88898d;
}
.e_blog{
  margin-right: 30px;
}
.p_blog span {
    background-color: #4d4d4f;
    color: #FFF;
    padding: 3px 6px;
    border-radius: 4px;
}
.p_blog{
  margin-bottom: 30px;
}
.intro_blog {
    color: #404040;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.tbox_blog dd {
   
    overflow: hidden;
    background-color: #f6f6f6;
}
.tbox_blog dt strong {
    height: 35px;
    line-height: 35px;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 15px;
}
.paddingr30{
  padding-right:30px;
}
/*----------user   ---------*/
.margint40{
  margin-top: 40px;
}
.listbox_user{
  width:920px;
  overflow:hidden;
  float:right;
  clear:both;
  overflow:hidden;
  margin: 60px auto;
}
.listbox_user h1{
  color:  #4d4d4f;
}
.pleft_user{
    width: 240px;
    float: left;
    overflow: hidden;
    margin: 80px 0;
    background-color: #fff;
    padding: 20px;
    line-height: 35px;
    font-size: 10px;
    letter-spacing: 1px;
}
.pleft_user li{
  /*list-style: decimal;*/
}
.slide-text > h5 {
    font-family: Museo500-Regular;
}
.content_user{
    color:  #88898d;
  }

  /*----------document   ---------*/
.margint60{
  margin-top: 60px;
}
/*----------product   ---------*/
.product h3 {
    color: #4D4D4F;
    font-size: 22px;
    margin-bottom: 20px;
    font-family: NotoSansHans-Medium;
}
.product small {
    color: #787878;
    line-height: 30px;
    margin-bottom: 20px;
    font-family:NotoSansHans-Light;
}
.product {
    padding: 70px 0;
}

/*----------function   ---------*/
.function .row img {
    width: 40%;
}
.function{
   background: url(../images/details02.jpg)/*tpa=http://zstack.io/templets/default/images/details02.jpg*/ no-repeat center;
}
.counter h3 span{
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

/*----------market   ---------*/
.market{
   padding: 70px 0;
   clear: both;
}
.market h3 {
    color: #4D4D4F;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: NotoSansHans-Medium;
}
.market small {
    color: #787878;
    line-height: 30px;
    margin-bottom: 20px;
    font-family: NotoSansHans-Light;
}
.market img {
    width: 15px;
}
.market .row {
    border: 1px solid #4d4d4d;
    padding: 30px 0;
}

/*----------market   ---------*/
.experience {
   padding: 70px 0;
}

.experience h2{
   font-size: 40px;
}
.experience h4{
   font-size: 40px;
   font-weight: 100;

   padding: 10px 0;
}

.experience .counter_first{
   height: 185px;
   background-color: #79cfe7;
   color: #fff;
   padding: 30px 0;
   margin: 20px 0;
}
.experience .counter{
   background-color: #7d9ecf;
   color: #fff;
   padding: 30px 0;
}

.experience .num  img{
   width: 100%;
}
.experience .num {
   height: 60px;
    padding-top: 30px;
}

.experience .second{
   height: 60px;
   padding-top: 30px;
   color: #4d4d4d;
   background-color: #f6f6f6;
}
.details_counter h4{
   font-size: 30px;
   font-weight: 100;
   padding: 10px 0;
}
.details_counter img{
   width: 25px;
}
.details_counter{
   padding: 10px 0;
   box-shadow: 1px 1px 5px 1px RGB(59,115,179); 
   margin-top: 20px;
}
.details_end{
   background-color: #f6f6f6;
   height: 120px;
}

/*----------manage   ---------*/
.manage img {
   width: 40%;
}
.manage h3 {
    color: #fff;
    font-size: 20px;
    margin: 25px 0 20px;
}
.manage {
   background-color: #3b73b1;
}
.manage_col {
   float: left;
   width: 14.2%;
   padding: 40px 0 30px;
   box-shadow:2px 0px 5px 0px #4d4d4d;
}
.manage .row {
     margin-right: 0; 
     margin-left: 0; 
}

/*jion*/
.e_join h3{
  color: #3b73b1;
}

/* article common */
.pleft_user{
  width: 32%;
  padding: 0;
  background-color: #fff;
}

.listbox_user {
    width: 65%;
}

.article-list{
    color: #999;
    font-size: 16px;
    padding-left: 10px;
}
.list-item-link{
    display: block;
    font-size: 16px;
    padding-left: 10px;
    width: 300px;
    height: 22px;
}
.list-item-title{
    font-size: 18px;
    display: block;
    width: 80%;
}
.list-item-btn{
    display: block;
    font-size: 18px;
}
.article-list,.list-item-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.on{
   color: #008fd5;
}
.article-list-wrapper{
   margin: 20px 10px 30px;
}
.content_user img{max-width:100%;height: auto;}