<div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak>
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a ng-click="toggleSidebar()">
                    Unified Portal
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>

            <li class="sidebar-title"><span>Infrastructure</span></li>
            <li class="sidebar-list">
                <a href="#/overview">Overview<span class="menu-icon fa fa-circle-o-notch"></span></a>
            </li>
            <li class="sidebar-list">
                <a href="#/host">Host<span class="menu-icon fa fa-circle-o-notch"></span></a>
            </li>
            <li class="sidebar-list">
                <a href="#/storage">Storage<span class="menu-icon fa fa-cube"></span></a>
            </li>

            <li class="sidebar-title"><span>Bare-metal Template</span></li>
            <li class="sidebar-list">
                <a href="#/os">Operating System<span class="menu-icon fa fa-tachometer"></span></a>
            </li>
            <li class="sidebar-list">
                <a href="#/panel">Openstack<span class="menu-icon fa fa-tasks"></span></a>
            </li>

            <li class="sidebar-title"><span>Platform Template</span></li>
            <li class="sidebar-list">
                <a href="#/monitor">Monitor<span class="menu-icon fa fa-cogs"></span></a>
            </li>
            <li class="sidebar-list">
                <a href="#/cloud">Cloud Foundry v2<span class="menu-icon fa fa-cogs"></span></a>
            </li>
            <li class="sidebar-list">
                <a href="#">Hadoop<span class="menu-icon fa fa-cogs"></span></a>
            </li>

            <li class="sidebar-title"><span>Ad-hoc Management</span></li>
            <li class="sidebar-title"><span>Topology & Monitor</span></li>
            <li class="sidebar-title"><span>User & Authorization</span></li>
            <div class="col-lg-12 sidebar-footer" id="ddd">
                <img src="img/logo.png" id="logo">
                <p class="dd">©EMC</p>
                <p class="dd">Corporation.</p>
                <p class="dd">All rights reserved.</p>
            </div>
            <div class="sidebar-footer-side">
                <img src="img/logo.png" id="logos">
            </div>
        </ul>
    </div>
    <!--Header-->
    <div class="row header">
        <div class="col-xs-12">
            <div class="meta pull-left">
                <div class="page">Infrastructure</div>
                <div class="breadcrumb-links">Host</div>
            </div>
            <div class="user pull-right">
                <div class="item dropdown">
                    <a href="#" class="dropdown-toggle">
                        <img src="img/avatar.jpg">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">Joe Bloggs</li>
                        <li class="divider"></li>
                        <li class="link">
                            <a href="#">Profile</a>
                        </li>
                        <li class="link">
                            <a href="#">Menu Item</a>
                        </li>
                        <li class="link">
                            <a href="#">Menu Item</a>
                        </li>
                        <li class="divider"></li>
                        <li class="link">
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="item dropdown">
                    <a href="#" class="dropdown-toggle">
                        <i class="fa fa-bell-o"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">Notifications</li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">Server Down!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--wedgit-->
    <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-icon blue pull-left">
                        <i class="fa fa-sitemap"></i>
                    </div>
                    <div class="widget-content pull-left">
                        <div class="title">{{date.server_num}}</div>
                        <div class="comment">Servers</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-icon orange pull-left">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <div class="widget-content pull-left">
                        <div class="title">{{date.IPMI_num}}</div>
                        <div class="comment">IPMI</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-icon green pull-left">
                        <i class="fa fa-sun-o"></i>
                    </div>
                    <div class="widget-content pull-left">
                        <div class="title">{{date.Started}}</div>
                        <div class="comment">Started</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="spacer visible-xs"></div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-icon red pull-left">
                        <i class="fa fa-power-off"></i>
                    </div>
                    <div class="widget-content pull-left">
                        <div class="title">{{date.shutdown}}</div>
                        <div class="comment">Shutdown</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!--table-->
    <div class="col-lg-12" id="table">
        <table class="table table-cover table-striped">
            <tr>
                <td class="title col-lg-1">Node</td>
                <td class="title col-lg-3">Server ID</td>
                <td class="title col-lg-2">Status</td>
                <td class="title col-lg-6" id="action">Action</td>
            </tr>
            <tr ng-repeat="host in date.server_list | orderBy:'node_name'">
                <td class="content">{{host.node_name}}</td>
                <td class="content">{{host.id}}</td>
                <td class="content">{{host.status}}</td>
                <td>
                    <button class="button button-glow button-rounded button-action but" ng-click="start(host, $event)"
                            ng-disabled="!host.is_ipmi || host.startdisable">
                        {{host.status==='Shutdown'?'Start':'Restart'}}
                    </button>
                    <button class="button button-glow button-rounded button-caution but" ng-click="shutdown(host)"
                            ng-disabled="host.status==='Shutdown' || host.shutdisable">Shutdown
                    </button>
                    <button class="button button-glow button-rounded button-primary but" data-toggle="modal"
                            data-target="#{{$index + 'myModal'}}" class="detail" data-backdrop="false">
                        Active
                    </button>
                    <div class="modal fade bs-example-modal-lg" id="{{$index + 'myModal'}}" tabindex="-1"
                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Active</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="ipmi.ipmi_hostname"
                                               placeholder="Please Enter a ipmi-hostname">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="ipmi.ipmi_username"
                                               placeholder="Please Enter a ipmi-username">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="ipmi.ipmi_password"
                                               placeholder="Please Enter a ipmi-password">
                                    </div>
                                    <div class="button-wrap goback col-lg-offset-1 col-xs-offset-1">
                                        <button type="submit" data-dismiss="modal" ng-click="ipmideploy(host.id)"
                                                class="button button-pill button-raised button-primary gobackk">GO
                                        </button>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>
    </nav>
</div>
